/*
*
** Callout Container
*
*/

.callout-container {
  height: 100vh;
  background: url("../img/drinkpedia_tent_ex.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #fb5470;
}

.jumbotron-main {
  background: rgba(255,255,255, 0.7);
    position: relative;
    height: 65vh;
    top: 5vh;
    padding: 0;
}

.jumbotron-text {
  background: rgba(255,255,255, 0.7);
  position: relative;
  height: 10vh;
  top: 9vh;
  padding: 0;
}

ul li {
  display: inline;
}

.navbar {
  position: relative;
  top: 15vh;
  background: rgba(255,255,225, 0.5);
}