.waiter-image {

    /* object-fit: contain;*/
    position: absolute;
    top: 270px;
    left: 381px;
}

.glasses {
    position: absolute;
    top: 312px;
    left: 674px;
}

#emptyglass {
    height: 100px;
    width: 35px;
    overflow-y: hidden;
    transition: all 1s linear;
    /*    object-fit: contain;*/
    z-index: 5;
}

#fullglass {
    max-height: 100px;
    max-width: 150px;
    /* object-fit: contain;*/
}


#bottle {
    position: absolute;
    top: 200px;
    left: 800px;
    transition: all 1s linear;
 }

/*COMMENT*/
