.waiter-image {
    height: 400px;
    object-fit: contain;
    position: absolute;
    bottom: 20px;
    left: 400px;
}

.glasses {
    position: absolute;
    bottom: 278px;
    left: 674px;
}

#emptyglass {
    height: 100px;
    width: 100px;
    object-fit: contain;
    z-index: 5;
}

#fullglass {
    height: 100px;
    width: 100px;
    object-fit: contain;
    z-index: 1;
    
}

.hide-glass {
    height: 1px;
    overflow-y: hidden;
    -webkit-transition: height 2s linear;
    -moz-transition: height 2s linear;
    -o-transition: height 2s linear;
    transition: height 2s linear;
}

.show-glass {
    height: 475px;
    overflow-y: hidden;
    -webkit-transition: height 2s linear;
    -moz-transition: height 2s linear;
    -o-transition: height 2s linear;
    transition: height 2s linear;
}

/*COMMENT*/
